
  <div class="row justify-content-center chessboard">
      <div class="col">
          <!-- Row 8 -->
          <div class="row boardrow">
              <div class="col coord" id="8">8</div>
              <div class="col square light" id="a8">
                  <div class="chess-piece black rook" id="bR1">&#9820;</div>     <!-- Rook -->
              </div>
              <div class="col square dark" id="b8">
                  <div class="chess-piece black knight" id="bN1">&#9822;</div>     <!-- Knight -->
              </div>
              <div class="col square light" id="c8">
                  <div class="chess-piece black bishop" id="bB1">&#9821;</div>     <!-- Bishop -->
              </div>
              <div class="col square dark" id="d8">
                  <div class="chess-piece black queen" id="bQ">&#9819;</div>     <!-- Queen -->
              </div>
              <div class="col square light" id="e8">
                  <div class="chess-piece black king" id="bK">&#9818;</div>     <!-- King -->
              </div>
              <div class="col square dark" id="f8">
                  <div class="chess-piece black bishop" id="bB2">&#9821;</div>     <!-- Bishop -->
              </div>
              <div class="col square light" id="g8">
                  <div class="chess-piece black knight" id="bN2">&#9822;</div>     <!-- Knight -->
              </div>
              <div class="col square dark" id="h8">
                  <div class="chess-piece black rook" id="bR2">&#9820;</div>     <!-- Rook -->
              </div>
          </div>
          <!-- Row 7 -->
          <div class="row boardrow">
              <div class="col coord" id="7">7</div>
              <div class="col square dark" id="a7">
                  <div class="chess-piece black" id="bp1">&#9823;</div>     <!-- Pawn -->
              </div>
              <div class="col square light" id="b7">
                  <div class="chess-piece black" id="bp2">&#9823;</div>     <!-- Pawn -->
              </div>
              <div class="col square dark" id="c7">
                  <div class="chess-piece black" id="bp3">&#9823;</div>     <!-- Pawn -->
              </div>
              <div class="col square light" id="d7">
                  <div class="chess-piece black" id="bp4">&#9823;</div>     <!-- Pawn -->
              </div>
              <div class="col square dark" id="e7">
                  <div class="chess-piece black" id="bp5">&#9823;</div>     <!-- Pawn -->
              </div>
              <div class="col square light" id="f7">
                  <div class="chess-piece black" id="bp6">&#9823;</div>     <!-- Pawn -->
              </div>
              <div class="col square dark" id="g7">
                  <div class="chess-piece black" id="bp7">&#9823;</div>     <!-- Pawn -->
              </div>
              <div class="col square light" id="h7">
                  <div class="chess-piece black" id="bp8">&#9823;</div>     <!-- Pawn -->
              </div>
          </div>
          <!-- Row 6 -->
          <div class="row boardrow">
              <div class="col coord" id="6">6</div>
              <div class="col square light" id="a6"></div>
              <div class="col square dark" id="b6"></div>
              <div class="col square light" id="c6"></div>
              <div class="col square dark" id="d6"></div>
              <div class="col square light" id="e6"></div>
              <div class="col square dark" id="f6"></div>
              <div class="col square light" id="g6"></div>
              <div class="col square dark" id="h6"></div>
          </div>
          <!-- Row 5 -->
          <div class="row boardrow">
              <div class="col coord" id="5">5</div>
              <div class="col square dark" id="a5"></div>
              <div class="col square light" id="b5"></div>
              <div class="col square dark" id="c5"></div>
              <div class="col square light" id="d5"></div>
              <div class="col square dark" id="e5"></div>
              <div class="col square light" id="f5"></div>
              <div class="col square dark" id="g5"></div>
              <div class="col square light" id="h5"></div>
          </div>
          <!-- Row 4 -->
          <div class="row boardrow">
              <div class="col coord" id="4">4</div>
              <div class="col square light" id="a4"></div>
              <div class="col square dark" id="b4"></div>
              <div class="col square light" id="c4"></div>
              <div class="col square dark" id="d4"></div>
              <div class="col square light" id="e4"></div>
              <div class="col square dark" id="f4"></div>
              <div class="col square light" id="g4"></div>
              <div class="col square dark" id="h4"></div>
          </div>
          <!-- Row 3 -->
          <div class="row boardrow">
              <div class="col coord" id="3">3</div>
              <div class="col square dark" id="a3"></div>
              <div class="col square light" id="b3"></div>
              <div class="col square dark" id="c3"></div>
              <div class="col square light" id="d3"></div>
              <div class="col square dark" id="e3"></div>
              <div class="col square light" id="f3"></div>
              <div class="col square dark" id="g3"></div>
              <div class="col square light" id="h3"></div>
          </div>
          <!-- Row 2 -->
          <div class="row boardrow">
              <div class="col coord" id="2">2</div>
              <div class="col square light" id="a2">
                  <div class="chess-piece white pawn" id="wp1">&#9817;</div>     <!-- Pawn -->
              </div>
              <div class="col square dark" id="b2">
                  <div class="chess-piece white pawn" id="wp2">&#9817;</div>     <!-- Pawn -->
              </div>
              <div class="col square light" id="c2">
                  <div class="chess-piece white pawn" id="wp3">&#9817;</div>     <!-- Pawn -->
              </div>
              <div class="col square dark" id="d2">
                  <div class="chess-piece white pawn" id="wp4">&#9817;</div>     <!-- Pawn -->
              </div>
              <div class="col square light" id="e2">
                  <div class="chess-piece white pawn" id="wp5">&#9817;</div>     <!-- Pawn -->
              </div>
              <div class="col square dark" id="f2">
                  <div class="chess-piece white pawn" id="wp6">&#9817;</div>     <!-- Pawn -->
              </div>
              <div class="col square light" id="g2">
                  <div class="chess-piece white pawn" id="wp7">&#9817;</div>     <!-- Pawn -->
              </div>
              <div class="col square dark" id="h2">
                  <div class="chess-piece white pawn" id="wp8">&#9817;</div>     <!-- Pawn -->
              </div>
          </div>
          <!-- Row 1 -->
          <div class="row boardrow">
              <div class="col coord" id="1">1</div>
              <div class="col square dark" id="a1">
                  <div class="chess-piece white rook" id="wR1">&#9814;</div>     <!-- Rook -->
              </div>
              <div class="col square light" id="b1">
                  <div class="chess-piece white knight" id="wN1">&#9816;</div>     <!-- Knight -->
              </div>
              <div class="col square dark" id="c1">
                  <div class="chess-piece white bishop" id="wB1">&#9815;</div>     <!-- Bishop -->
              </div>
              <div class="col square light" id="d1">
                  <div class="chess-piece white queen" id="wQ">&#9813;</div>      <!-- Queen -->
              </div>
              <div class="col square dark" id="e1">
                  <div class="chess-piece white king" id="wK">&#9812;</div>      <!-- King -->
              </div>
              <div class="col square light" id="f1">
                  <div class="chess-piece white bishop" id="wB2">&#9815;</div>     <!-- Bishop-->
              </div>
              <div class="col square dark" id="g1">
                  <div class="chess-piece white knight" id="wN2">&#9816;</div>     <!-- Knight -->
              </div>
              <div class="col square light" id="h1">
                  <div class="chess-piece white rook" id="wR2">&#9814;</div>     <!-- Rook -->
              </div>
          </div>
            <!-- Row 0: X Coordinates -->
          <div class="row boardrow">
              <div class="col coord" id="0"></div>
              <div class="col coord" id="a">a</div>
              <div class="col coord" id="b">b</div>
              <div class="col coord" id="c">c</div>
              <div class="col coord" id="d">d</div>
              <div class="col coord" id="e">e</div>
              <div class="col coord" id="f">f</div>
              <div class="col coord" id="g">g</div>
              <div class="col coord" id="h">h</div>
          </div>
      </div>
  </div>
  <script src="/static/chess-game.js"></script>
  <script src="/static/move-validation.js"></script>

<div class="text-start">
  Enter debugging statements here:
  <div id="debug"></div>
</div>